<a class="btn btn-default" [routerLink]="['upload']"><i
        class="fa fa-upload"></i> Upload New Pipeline</a>

<div class="form-group row has-error"
     *ngIf="error?.code==503">
    <div class="col-md-12 ">
        <span class="help-block">
            The Service is currently unavailable. Please try again later.
        </span>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ngx-datatable
                #projectsTable
                class="bootstrap"
                [columnMode]="'force'"
                [rowHeight]="'auto'"
                [rows]="pipelines"
                [cssClasses]="{
                            sortAscending: 'fa fa-sort-asc',
                            sortDescending: 'fa fa-sort-desc',
                            pagerLeftArrow: 'fa fa-chevron-left',
                            pagerRightArrow: 'fa fa-chevron-right',
                            pagerPrevious: 'fa fa-step-backward',
                            pagerNext: 'fa fa-step-forward'

                        }">
            <ngx-datatable-column name="Name" prop="node.name" [width]="'30%'">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    <strong>{{ value }}</strong>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Description" prop="node.description" [width]="'70%'">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    <p> {{ value }}</p>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>

