

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                Script Order(Drag to reorder, click to edit)
            </div>
            <div class="panel-body">
                <ul class="list-group" dnd-sortable-container [sortableData]="self.controls">
                    <li *ngFor="let item of self.controls; let i = index" class="list-group-item" dnd-sortable
                        [sortableIndex]="i" (click)="scriptClicked(item,i)">{{ item.value.name }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
