<div class="row">
    <div class="col-md-12 well text-center">
        <div class="has-error" *ngIf="auth.wasCaughtByGuard()">
            <span class="help-block">You have to log in first!</span>
        </div>
        <div class="has-error" *ngIf="auth.suppliedInvalidCredentials()">
            <span class="help-block">Invalid username or password</span>
        </div>
        <form novalidate (ngSubmit)="onSubmit(user)" [formGroup]="user">
            <div class="form-group"
                 [ngClass]="{'has-error': user.get('name').touched && user.get('name').errors}">
                <label>
                    <span>Name</span>
                    <input type="text" class="form-control" placeholder="Your username" formControlName="name">
                </label>

                <span class="help-block" *ngIf="user.get('name').hasError('required') && user.get('name').touched">
                    Name is required
                </span>
            </div>
            <div class="form-group"
                 [ngClass]="{'has-error': user.get('password').touched && user.get('password').errors}">
                <label>
                    <span>Password</span>
                    <input type="password" class="form-control" placeholder="Your password" formControlName="password">
                </label>
                <span
                        class="help-block"
                        *ngIf="user.get('password').hasError('required') && user.get('password').touched">
                    Password is required
                </span>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="user.invalid">Login</button>
        </form>
    </div>
</div>
