<div class="row">
    <div class="col-md-12">
    <ngx-datatable
            #projectsTable
            class="bootstrap"
            [rowHeight]="'auto'"
            [columnMode]="'force'"
            [rows]="projects"
            [cssClasses]="{
                            sortAscending: 'fa fa-sort-asc',
                            sortDescending: 'fa fa-sort-desc',
                            pagerLeftArrow: 'fa fa-chevron-left',
                            pagerRightArrow: 'fa fa-chevron-right',
                            pagerPrevious: 'fa fa-step-backward',
                            pagerNext: 'fa fa-step-forward'

                        }"
            (activate)="onActivate($event)">

        <ngx-datatable-column name="Name" prop="node.name" [width]="200">
            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                <strong>{{ value }}</strong>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Scientist" prop="node.scientist" [width]="150">
            <ng-template let-value="value" ngx-datatable-cell-template>
                <strong>{{ value }}</strong>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Created At" prop="node.createdAt" [width]="80" >
            <ng-template let-value="value" ngx-datatable-cell-template>
                <strong>{{ templateUtils.formatTime(value,'YYYY-MM-DD HH:mm') }}</strong>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Updated At" prop="node.updatedAt" [width]="80">
            <ng-template let-value="value" ngx-datatable-cell-template>
                <strong>{{ templateUtils.formatTime(value,'YYYY-MM-DD HH:mm') }}</strong>
            </ng-template>
        </ngx-datatable-column>

    </ngx-datatable>
    </div>
</div>
