<div class="row">
  <div class="col-md-12">
    <nav class="navbar navbar-default">
      <ul class="nav navbar-nav">
        <!--<li><a routerLink="/settings" routerLinkActive="active"><i class="fa fa-circle-o fa-fw"></i>General</a>
        </li>
        <li class="divider"></li>-->
        <li><a routerLink="iap-pipelines" routerLinkActive="active"><i class="fa fa-circle-o fa-fw"></i>IAP
                                                                                                        Pipelines</a>
        </li>
        <li class="divider"></li>
        <li><a routerLink="postprocessing-stacks" routerLinkActive="active"><i class="fa fa-circle-o fa-fw"></i>Postprocessing
                                                                                                                Stacks</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <router-outlet></router-outlet>
  </div>
</div>
